.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 50px 30px;
  text-align: center;

  &__line {
    width: 80%;
    max-width: 1000px;
    height: 1px;
    background-color: rgba($color-white, 0.2);

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    transition: color 0.1s ease-in-out;

    &--email {
      font-family: "Source Code Pro";
      font-size: 1.6rem;
      letter-spacing: 2px;

      @media (max-width: 400px) {
        font-size: 1.2rem;
      }
    }

    &--github {
      color: $color-secondary;
    }

    &:hover {
      color: $color-secondary;
      font-weight: 400;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    width: 4em;
    height: 4em;
  }

  &__paragraph {
    font-size: 1.2rem;
  }
}
